header {
    background-color: 	#fff;
    /* background-image: "#"; */
    width: 96%;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
}

header a {
    display: inline;
    padding: 5%;
    color: #222;
}

header h1 {
    text-align: left;
    color: #fff;
    padding-left: 5%;
    text-shadow: 0 -1px 5px rgba(0, 0, 0, .9), 0 0 5px rgba(0, 0, 0, .8);
}

header form{
    text-align: right;
    display: inline;
    float: right;
}


/* Section */
.section {
    clear: both;
    margin: 0px;
    padding: 0px;
}

/* Column */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0 !important; }

/* Row */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }

/* Grid */
.grid_1_of_4{ width: 23.8% }
.grid_2_of_4{ width: 49.2% }
.grid_3_of_4{ width: 74.6% }
.grid_4_of_4{ width: 100% }

/* Full Width below 768 pixels */
@media only screen and (max-width: 768px) {
    .col {  margin: 1% 0 1% 0%; }
    [class*='grid_'] { width: 100%; }
}


.button {
    display: inline-block;
    height: 124px;
    width: 100%;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #B19730, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #B19730, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #B19730, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    background-color: #B19730;
    background-image: -webkit-gradient(linear, 2% 4%, 78% 0%, from(hsla(50, 65%, 99%, .8)), to(hsla(46, 72%, 69%, .2)));
    background-image: -webkit-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    background-image: -moz-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    background-image: -o-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    transition: box-shadow .1s ease-in-out;
    font-size: 42px;
    color: #fff;
}
.button span {
    display: inline-block;
    height: 68%;
    width: inherit;
    max-width: 80%;

    padding: 20px 30px;
    background-color: #B19730;
    background-image: -webkit-gradient(linear, 2% 4%, 78% 0%, from(hsla(50, 65%, 99%, .8)), to(hsla(46, 72%, 69%, .2)));
    background-image: -webkit-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    background-image: -moz-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    background-image: -o-linear-gradient(rgba(253, 231, 86, .8), hsla(46, 72%, 69%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(177, 151, 48, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: lightseagreen;
    text-shadow: 0 -1px 1px rgba(255, 232, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #B19730, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #B19730, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #B19730, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.calendar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

.login form{
    margin-left: auto;
    margin-right: auto;
    width: 9em;
    padding: 1%;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);

}

body{
    background: #b6c4b0; /* Old browsers */
    background: -moz-linear-gradient(45deg, #c4c26e 0%, #e7d37e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c49880 0%, #e79183 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #a4c483 0%, #d2e78f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc497', endColorstr='#55c8e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer{
    background-color: 	#fff;
    /* background-image: "#"; */
    width: 96%;
    padding: 25px;
    padding-top: 5%;
    margin-top: 10%;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
}

#sidebar{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
    display: inline-block;
    margin-left: 5%;
    margin-right: -5%;
    height: 356px;
    max-height: 356px;


}

#sidebar nav{
    line-height: 3.0;
    display: inline;
    padding: 10%;
    color: #222;
}

#content{
    display: inline-block;
    margin-right: 0%;
    margin-left: 10%;
    margin-top: 2%;
}

#content H2{
    margin-left: -15%;
}

pre{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);

}

