header {
    background-color: #ff191f;
    /* background-image: "#"; */
    width: 96%;
    padding: 25px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
}

header a {
    display: inline;
    padding: 5%;
    color: #222;
}

header h1 {
    text-align: left;
    color: #7d3d75;
    padding-left: 5%;
    text-shadow: 0 -1px 5px rgba(0, 0, 0, .9), 0 0 5px rgba(0, 0, 0, .8);
}

header form{
    text-align: right;
    display: inline;
    float: right;
}


/* Section */
.section {
    clear: both;
    margin: 0px;
    padding: 0px;
}

/* Column */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0 !important; }

/* Full Width below 768 pixels */
@media only screen and (max-width: 768px) {
    .col {  margin: 1% 0 1% 0%; }
    [class*='grid_'] { width: 100%; }
}


nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}


body{
    background: #b6c4b0; /* Old browsers */
    background: -moz-linear-gradient(45deg, #c4b26c 0%, #e7d37e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c4ac83 0%, #e7c8b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c4b695 0%, #e7d2a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc497', endColorstr='#55c8e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer{
    background-color: #fff3d5;
    /* background-image: "#"; */
    width: 96%;
    padding: 25px;
    padding-top: 5%;
    margin-top: 10%;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
}

#sidebar{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
    display: inline-block;
    margin-left: 5%;
    margin-right: -5%;
    height: 356px;
    max-height: 356px;
}

#sidebar nav{
    line-height: 3.0;
    display: inline;
    padding: 10%;
    color: #222;
}

#content{
    display: inline-block;
    margin-right: 0%;
    margin-left: 10%;
    margin-top: 2%;
}

#content H2{
    margin-left: -15%;
}

pre{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0, 0 3px 20px rgba(0, 0, 0, .35);
}

